.wrapper {
    padding-left: 200px;
    padding-top: 50px;

    h1 {
        font-weight: 900;
        font-size: 30px;
        font-family: 'Open Sans';
        padding-bottom: 10px;
    }

    p {
        font-weight: 600;
        font-family: 'Open Sans';
        padding-bottom: 10px;
    }

    .hidden {
        display: none;
    }
    .show{
        display: flex;
    }
    .dots{
        gap: 50px;
        padding-top: 50px;
        .dot {
            width: 20px;
            height: 20px;
            background-color: black;
            border-radius: 20px;
            transform: translate(0px, -40px);
            animation: bounce 1s infinite;
        }

        .dot:nth-child(2) {
            animation-delay: 0.2s;
        }

        .dot:nth-child(3) {
            animation-delay: 0.4s;
        }

        @keyframes bounce {
            0% {
                transform: translate(0px, -10px);
            }

            40% {
                width: 0px;
                height: 2px;
                transform: translate(0px, 40px) scale(1.7);
            }

            100% {
                height: 20px;
                transform: translate(0px, -20px);
            }
        }
    }
}

.button {
    border: none;
    padding: 20px 20px;
    border-radius: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}